.family,
.family-members {
    overflow-y: scroll;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.family-members {
    height: 50vh;
}

.family-button {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.offset {
    margin-top: 20px;
}

.family-member {
    margin-left: auto;
    margin-right: auto;
}
